/* Style de la boîte avant l'expansion */
.expandable-box {
  background-color: rgba(214, 234, 248, 0);
  border-color: black;
  border-width: 2px; /* Ajouter la largeur de la bordure */
  border-style: solid; /* Ajouter le style de la bordure */
  max-height: 60px;
  overflow: hidden;
  transition: max-height 0.5s ease;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  text-align: left;
  width: auto;
  position: relative;
}

/* Style lorsque la boîte est agrandie */
.expandable-box.expanded {
  max-height: 1000px;
  width: auto;
}

/* Cacher le contenu initialement */
.expandable-box .content {
  margin-left: 5px;
  opacity: 0;
  transition: opacity 0.5s ease;
  width: 100%;
}

/* Afficher le contenu lorsque la boîte est agrandie */
.expandable-box.expanded .content {
  opacity: 1;
}

/* Style pour le titre */
.expandable-box h4 {
  display: inline-block;
  width: calc(100% - 40px);
  margin-left: 5px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.expandable-box h4::after {
  content: "▼";
  font-size: 0.8em;
  margin-left: 10px;
  transition: transform 0.3s ease;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

/* Rotation de la flèche lorsque la boîte est agrandie */
.expandable-box.expanded h4::after {
  transform: translateY(-50%) rotate(180deg);
}

.container {
  display: flex;
  align-items: center;
}

.image-container {
  flex: 1;
  text-align: center;
}

.text-container {
  flex: 2;
}
